{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "extends": [
      "react-app",
      "prettier",
      "plugin:@typescript-eslint/recommended"
    ],
    "plugins": [
      "import",
      "prettier",
      "@typescript-eslint"
    ],
    "rules": {
        "no-console": "warn",
        "no-eval": "error",
        "import/first": "error"
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "useJSXTextNode": true,
            "tsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }